
<div class="row">
  <h3 *ngIf="user">Welcome {{user.email}} to the Case Inc Portal</h3>
  <app-tile id="inventory" [color]="'#8c4507'" [title]="'Inventory Plus'" [description]="'Manage product inventory and suppliers'" [buttonName]="'Inventory Plus'" [urlPath]="'inventory'"></app-tile>

  <app-tile id="itSupport"[color]="'#10d1d1'" [title]="'Help@Case'" [description]="'Get support to your IT question'" [buttonName]="'Ask me'" [urlPath]="'itSupport'"></app-tile>

  <app-tile id="telcoDemo" [color]="'green'" [title]="'Green Telco'" [description]="'Demonstrate product recommendation and churn risk scoring'" [buttonName]="'Telco'" [urlPath]="'telcohome'"></app-tile>

</div>
