<div class="row">
  <h3 *ngIf="user">Welcome to the new myGreen Telco {{user.email}} </h3>
</div>
<div class="row">
  <app-tile id="billing" [color]="'#05870b'" [title]="'Pay your bill'" [description]="'Manage your payment'" [buttonName]="'See my bill'" [urlPath]="'bill'"></app-tile>

  <app-tile id="account" [color]="'#05870b'" [title]="'Your Account'" [description]="'Your plan, account and devices'" [buttonName]="'account'" [urlPath]="'account'"></app-tile>

  <app-tile id="chat" [color]="'#05870b'" [title]="'Support Help'" [description]="'Need help about your device or account?'" [buttonName]="'Ask me'" [urlPath]="'telcoChat'"></app-tile>
</div>
