<mat-toolbar style=" border-bottom: 1px dotted blue;">
  <a href="#/home"><i class="material-icons">home</i></a>
</mat-toolbar>
<div class="row">

  <app-tilecard  id="chatbot" [title]="'Telco Chatbot'" [description]="'Need help about your device or account?...'"
  [smImg]="'assets/images/ai.png'" [buttonName]="'Ask me'" [color]="'#05870b'" [urlPath]="'telcoChat'">
  </app-tilecard>

  <app-tilecard id="account" [color]="'#05870b'" [title]="'Your Account'" [description]="'Your plan, account and devices...'" [buttonName]="'Open'" [smImg]="'assets/images/analytics.png'" [urlPath]="'account'"></app-tilecard>
</div>
